<a href="https://colab.research.google.com/github/bxswxl/bxswxl/blob/main/mongodb_GUI%20connection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pymongo
from tkinter import *
from tkinter import messagebox
conn = pymongo.MongoClient('mongodb://localhost:27017')
mydb = conn['App1']
mycol = mydb['appdata']
frame = Tk()
frame.geometry("500x350")
title = Label(frame,text="CRUD FORM", font=('Arial',20))
l1 = Label(frame,text="Enter Id")
l2 = Label(frame,text="Enter Name")
l3 = Label(frame,text="Enter Salary")
l4 = Label(frame,text="Enter Gender")
t1 = Entry(width=20)
t2 = Entry(width=20)
t3 = Entry(width=20)
t4 = Entry(width=20)

def Insert():
    Id = int(t1.get())
    Name = t2.get()
    Salary = int(t3.get())
    Gender = t4.get()
    Query = {"Id":Id,"Name":Name,"Salary":Salary,"Gender":Gender}
    mycol.insert_one(Query)
    messagebox.showinfo("Information","Data Submitted")
def Update():
    Id = int(t1.get())
    Name = t2.get()
    Salary = int(t3.get())
    Gender = t4.get()
    Query = {"Id":Id}
    NewQuery = {"$set":{"Name":Name,"Salary":Salary,"Gender":Gender}}
    mycol.update_one(Query,NewQuery)
    messagebox.showinfo("Information","Data Updated")
def Delete():
    Id = int(t1.get())
    Query = {"Id":Id}
    mycol.delete_one(Query)
    messagebox.showinfo("Information","Data Delete")
def Show():
    i = 0
    Showdata = Toplevel()
    Showdata.title("Show All Data")
    Showdata.geometry('500x300')
    for emp in mycol.find({},{"_id":0}):
        j = 0
        for  key, value in emp.items():
            e = Entry(Showdata,fg='blue')
            e.grid(row=i,column=j)
            e.insert(0,value)
            j=j+1
        i=i+1
    Showdata.mainloop()

b1 = Button(frame,text="Insert",command=Insert)
b2 = Button(frame,text="Update",command=Update)
b3 = Button(frame,text="Delete",command=Delete)
b4 = Button(frame,text="Show",command=Show)
title.pack()
l1.place(x=100,y=50)
t1.place(x=250,y=50)
l2.place(x=100,y=100)
t2.place(x=250,y=100)
l3.place(x=100,y=150)
t3.place(x=250,y=150)
l4.place(x=100,y=200)
t4.place(x=250,y=200)
b1.place(x=150,y=250)
b2.place(x=200,y=250)
b3.place(x=250,y=250)
b4.place(x=300,y=250)
frame.mainloop()

In [ ]:
pip install pymongo